<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spondylus.animatedsplashscreendemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconosistema64"
        android:label="Spondylus"
        android:roundIcon="@drawable/iconosistema64"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AnimatedSplashScreenDemo">
        <activity
            android:name="com.spondylus.animatedsplashscreendemo.WebView"
            android:exported="false" />
        <activity
            android:name="com.spondylus.animatedsplashscreendemo.MainActivity"
            android:exported="true"
            android:label="Spondylus"
            android:theme="@style/Theme.AnimatedSplashScreenDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spondylus.animatedsplashscreendemo.OnBoard"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>